[submodule "port/Windows/Renderer/SPIRV-Reflect"]
	path = port/Windows/Renderer/ext/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "port/Test/ext/googletest"]
	path = port/Test/ext/googletest
	url = https://github.com/google/googletest.git
[submodule "port/Job/thread-pool"]
	path = port/Job/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "port/Pool/recycle"]
	path = port/Pool/recycle
	url = https://github.com/steinwurf/recycle.git
[submodule "port/Log/spdlog"]
	path = port/Log/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "port/ext/json"]
	path = port/DebugMenu/ext/json
	url = https://github.com/nlohmann/json.git
[submodule "port/ext/tracy"]
	path = port/ext/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "src/EdenLib/edBank"]
	path = src/EdenLib/edBank
	url = https://github.com/Icey1717/edBank.git
[submodule "src/EdenLib/edFile"]
	path = src/EdenLib/edFile
	url = https://github.com/Icey1717/edFile.git
[submodule "port/ext/readerwriterqueue"]
	path = port/ext/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "port/KyaTexture"]
	path = port/KyaTexture
	url = https://github.com/Icey1717/KyaTexture
[submodule "KyaTextureUpload"]
	path = port/Windows/Renderer/Vulkan/src/pcsx2/TextureUpload
	url = https://github.com/mgiuditta/TextureUpload.git
[submodule "port/DebugMenu/ext/json"]
	path = port/DebugMenu/ext/json
	url = https://github.com/nlohmann/json.git
[submodule "port/DebugMenu/ext/magic_enum"]
	path = port/DebugMenu/ext/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "port/DebugMenu/ext/gizmo/imGuIZMO.quat"]
	path = port/DebugMenu/ext/gizmo/imGuIZMO.quat
	url = https://github.com/BrutPitt/imGuIZMO.quat.git
[submodule "port/ext/pss/pss/ext/libfmemopen/fmemopen_windows"]
	path = port/ext/pss/pss/ext/libfmemopen/fmemopen_windows
	url = https://github.com/Arryboom/fmemopen_windows.git
[submodule "port/ext/pss/pss/ext/libmpeg2/libmpeg2"]
	path = port/ext/pss/pss/ext/libmpeg2/libmpeg2
	url = https://github.com/cisco-open-source/libmpeg2.git
[submodule "port/Windows/Renderer/ext/imgui/imgui"]
	path = port/Windows/Renderer/ext/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "port/Windows/Renderer/ext/glfw"]
	path = port/Windows/Renderer/ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "port/KyaMesh"]
	path = port/KyaMesh
	url = https://github.com/mgiuditta/KyaMesh.git
[submodule "port/Windows/Renderer/ext/glm"]
	path = port/Windows/Renderer/ext/glm
	url = https://github.com/g-truc/glm.git
